html,
body,
#root {
    height: 100%;
    width: 100%;
}


.error {
    color: red;
    font-size: 14px;
}

input{
    background: transparent;
    color: black;
}

.cursor-pointer{
    cursor: pointer;
}

.color-gray{
    color: gray;
}

.tooltip-hover{
    z-index: 100;
    background-color: black !important;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.margin-100{
    margin: 100px;
}