html,
body,
#root {
    height: 100%;
    width: 100%;
}


.error {
    color: red;
    font-size: 14px;
}

input{
    background: transparent;
    color: black;
}

.cursor-pointer{
    cursor: pointer;
}