.navbar {
    overflow: hidden;
    border-right: 1px solid #310A31;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  
  }
  
  .navbar a.active {
    border-bottom: 2px solid #310A31;
  }
  

  .header{
    background-color: #69A2B0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ddd;
  }

  .logo{
    font-family: fantasy;
    height: 20px;
    width: 20px;
  }

  .footer {
    width: 100%;
    color: gray;
    background-color: #f8f9fa;
    padding: 10px;
    z-index: 100;
  }
  